/* Override some defaults from the .button class. */
a.create-favor {
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	vertical-align: middle;
	line-height: 1.6em;
	float: right;
}

a.create-favor .fa {
	float: left;
	font-size: 1.6em;
}

.search-controls {
	margin: 40px 0;
	text-align: center;
}

.search-controls .select {
	max-width: 100%;
	width: 40%;
	margin: 0 10px;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.search-controls .select {
		width: 100%;
		margin: 10px 0;
	}
}

#search-form {
	clear: both;
	width: 100%;
	position: relative;
	padding: 0 10px;
	margin: 40px 0;
	padding-top: 20px;
}

#search-form .fa-search {
	position: absolute;
	top: 30px;
}

#search {
	font-size: 28px;
	background-color: #e3e3e3;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px #707070;
  transition: border 0.1s;
  text-indent: 40px;
  box-sizing: border-box;
	 -webkit-box-shadow: 0 0 0px 1000px #e3e3e3 inset;
}

#search:focus {
	border-bottom: solid 3px #969696;
	outline: none;
}

.search-wrapper {
	height: 57px;  /* Dirty fix to stop search bar focus effect from pushing down. */
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.search-wrapper {
		width: 100%;
	}
}

.favor-list {
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
}

.favor-list > li {
	float: left;
	width: 25%;
	padding: 10px;
}

@media screen and (max-width: 1200px) {
	.favor-list > li {
		width: 33.33333%;
	}
}

@media screen and (max-width: 992px) {
	.favor-list > li {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.favor-list > li {
		width: 100%;
	}
}

.favor {
	padding: 10px;
	border: 1px solid black;
	background-color: #fff;
}

.favor > h2:first-of-type {
	margin-top: 0;
	max-width: 60%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.favor-list .favor-details {
	float: right;
	text-align: right;
	font-weight: bold;
	/* A fixed width in px seems to work better to preserve the spacing between icons and numbers */
	/* We make sure the details aren't pushed down with responsive styling */
	width: 65px;
}

.favor-likes,
.favor-views {
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}

.favor-list .favor-details .fa {
	font-size: 1.5em;
	color: green;
	position: absolute;
	top: -3px;
	left: 0;
}


.favor-list .favor .description {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 4.2em; /* We want 3 lines, so 3 x the line-height of 1.4em */
}

/* The Fade out trick. See: https://css-tricks.com/line-clampin/ */
.favor-list .favor .description:after {
	content: "";
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 1.4em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);	
}

.favor .locations h3 {
	margin-bottom: 0;
}

.favor .locations ul {
	padding: 0;
	margin-bottom: 1em;
}

.favor .locations li {
	list-style: disc;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.favor .byline {
	display: inline-block;
}

.favor .read-more-wrapper {
	float: right;
	height: 44px;
	position: relative;
}

.favor a.read-more {
  background-color: #000000;
  background-image: linear-gradient(#4c4c4c, #000000);
  color: #fff;
  text-shadow: none;
	padding: 0.2em 0.4em;
	position: absolute;
	bottom: 0;
	right: 0;
}

.pagination-wrapper {
	text-align: center;
	margin-bottom: 40px;
	font-size: 3em;
	font-weight: bold;
}

.pagination-wrapper .fa {
	color: #257985;
}